.socials-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-right: auto;
  margin-left: auto;
}

.socials-list__item {
  width: 44px;
  height: 44px;
}

.socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.socials-list__icon {
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .socials-list__link:hover &,
  .socials-list__link:focus & {
    fill: #ffffff;
  }
}
